
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 24px;
    font-family: "Public Sans", sans-serif;

}

:root {
    --black: #000000;
    --white: #FFFFFF;
    --rouge: #FB725F;
    --bleu: #659FCC;
    --vert: #5AB74F;
}