.logo__header{
    height: 100px;
    width: auto;
}
.header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}
.nav__header{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--white);
    z-index: 1;
    height: 100%;
}



.nav__header__ul{
    padding-top: 4rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: stretch;
}
.nav_link{
    text-decoration: none;
    color: --var(black);
    padding: 1rem;
}
.image__header{
    height: auto;
    max-height: 800px;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}
.envelope{ 
    font-size: 36px;
}
.menu_hamburger_checkbox{
    position: absolute;
    opacity: 0;

}
.label__hamburger{
    margin-left: 1rem;
    order: -1;
}
.label__hamburger::before{
    content: "☰";
}
.menu_hamburger_checkbox:checked+.label__hamburger::before{
    content: "X";
}
.label__close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 25px;
    cursor: pointer;
}
.nav_link::after{
    content: ">";
}
.nav_link{
    display: flex;
    justify-content: space-between;
}
@media(max-width: 769px){
    :checked~.nav__header{
        display: block;
    }

}

@media(min-width: 770px) {
    .nav__header{
        display: flex;
        position: static;
        width: auto;
        background-color: var(--white);
        height: auto;
    }

    .nav__header__ul{
        flex-direction: row;
    }
    .label__hamburger{
        display: none;
    }
    .nav_link::after{
        content: none;
    }
    .label__close{
        display: none;
    }
    
}